[submodule "front-end-module"]
	path = front-end-module
	url = https://github.com/Slimani-CE/ecom-app-front-end
[submodule "config-repo-module"]
	path = config-repo-module
	url = https://github.com/Slimani-CE/ecom-app-config-repo
[submodule "order-service-module"]
	path = order-service-module
	url = https://github.com/Slimani-CE/ecom-app-order-service
[submodule "inventory-service-module"]
	path = inventory-service-module
	url = https://github.com/Slimani-CE/ecom-app-inventory-service
[submodule "gateway-service-module"]
	path = gateway-service-module
	url = https://github.com/Slimani-CE/ecom-app-gateway-service
[submodule "customer-service-module"]
	path = customer-service-module
	url = https://github.com/Slimani-CE/ecom-app-customer-service
[submodule "config-service-module"]
	path = config-service-module
	url = https://github.com/Slimani-CE/ecom-app-config-service
